<mat-toolbar class="sj-toolbar" color="primary">
  <a routerLink="/" class="toolbar-home-link">
    <!--    <img src="assets/js-poland-logo-topa.png">-->
    <div class="toolbar-title show-large">Shmuela Jacobs - Static Web Apps Demo</div>
    <div class="toolbar-title show-medium">Static Web Apps Demo</div>
    <div class="toolbar-title show-small">SWA Demo</div>
    <div class="toolbar-title show-extra-small">SWA</div>
  </a>
  <span class="toolbar-spacer"></span>
  <app-love-me></app-love-me>
  <app-user></app-user>
</mat-toolbar>
